img {
  width: 200px;
  height: 200px;
}

.image {
  background: rgb(24,24,24);
  background: radial-gradient(circle, rgba(24,24,24,1) 0%, rgba(6,6,6,1) 100%);
  z-index: -1;
  margin: 0;
  position: absolute;
}
